<div class="container">
  <input type="text" #item>
  <button class="btn btn-primary" (click)= "fetchProduct(item.value)">Search</button>
</div>
<mat-grid-list cols="3" rowHeight="300px" *ngIf= "products">
   <mat-grid-tile 
   *ngFor="let product of products.results" class="product-container">
   <section class="card border-success mb-3" style="max-width: 20rem;">
      <div class="card-header">{{product.title}}</div>
      <div class="card-body">
         <img [src]="product.thumbnail">
         <h4 class="card-title">Price: ${{product.price}}</h4>
         <p class="card-text"></p>
      </div>
   </section>
   </mat-grid-tile>
</mat-grid-list>
 
