<div>
  <p>Products</p>
  <input type="text" #item>
  <button (click)= "fetchProduct(item.value)">Search</button>
</div>

 <div *ngIf= "products">
   <mat-grid-list cols="3" rowHeight="2:1" >
      <mat-grid-tile *ngFor="let product of products.results" class="product-container" >
         <ul style="list-style-type:none">
            <li>{{product.title}}</li>
            <li><img [src]="product.thumbnail"></li>
            <li> Price: ${{product.price}}$</li>
         </ul>
      </mat-grid-tile>
   </mat-grid-list>
</div>
